.icon {
  width: 25px;
  height: 25px;
  display: block;

  mask-size: 100%;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #909096;

  &.icon-instagram {
    mask-image: url("../images/instagram.png");
    -webkit-mask-image: url("../images/instagram.png");
  }
  &.icon-telegram {
    mask-image: url("../images/telegram.png");
    -webkit-mask-image: url("../images/telegram.png");
  }
  &.icon-linkedin {
    mask-image: url("../images/linkedin.png");
    -webkit-mask-image: url("../images/linkedin.png");
  }
  &.icon-facebook {
    mask-image: url("../images/facebook.png");
    -webkit-mask-image: url("../images/facebook.png");
  }
}

.profile {
  width: 100%;
  height: 100vh;
  display: flex;

  a {
    text-decoration: none;
  }

  .profile-left {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: #0d1623;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    button {
      color: #08fdd8;
      font-size: 14px;
      letter-spacing: 4px;
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      height: 50px;
      text-align: center;
      box-shadow: none !important;
      background-color: transparent;
      padding: 10px 50px;
      position: relative;
      margin: 40px auto 0 auto;
      display: block;
      @media screen and (min-width: 576px) {
        display: none;
      }
      @media screen and (max-width: 576px) {
        display: block;
      }
      p {
        transition: all 0.2s linear;
      }
      &:hover {
        p {
          color: #fff;
        }

        .button-position {
          width: 100% !important;
          background-color: rgba(8, 253, 216, 1) !important;
          opacity: 0.5 !important;
        }
      }
      .button-position {
        position: absolute !important;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 0 !important;
        transition: all 0.2s linear;
        border-radius: 0.25rem;
        //border: 1px solid transparent;
      }
    }

    .active {
      color: #08fdd8;
    }

    .profile-top {
      background-color: #07071b;
      padding: 30px 0;
      cursor: pointer;
      .my-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
    h3 {
      text-align: center;
      color: white;
      font-size: 20px;
    }
    p {
      text-align: center;
      font-size: 15px;
      color: #a5a5a5;
    }

    .menus-all {
      padding-top: 50px;
      @media screen and (max-width: 576px) {
        display: none;
      }
      @media screen and (min-width: 576px) {
        display: block;
      }
      .menus {
        width: 100%;
        //border: 0.1px solid #A5A5A5;
        border-width: 0.5px !important;
        padding: 10px 0;
        //border-right-color: transparent;
        //border-left-color: transparent;
        //border-bottom-color: transparent;
        cursor: pointer;
        &:hover {
          p {
            color: #08fdd8 !important;
          }
        }
        p {
          margin-bottom: 0;
          font-size: 18px;
          transition: all 0.2s linear;
        }
      }
      .menus:last-child {
        //border-bottom: 1px solid #A5A5A5;
      }
    }
    .media-menu {
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 20px;

      @media screen and (max-width: 576px) {
        display: block;
      }
      @media screen and (min-width: 576px) {
        display: none;
      }
    }
    .contact-me {
      padding-top: 50px;

      a:last-child {
        margin-left: 16px;
      }
      span {
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          background-color: #08fdd8;
        }
      }
    }
  }

  .profile-right {
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    padding-top: 150px;
    padding-left: 100px;
    @media screen and (max-width: 576px) {
      display: none;
    }

    .home {
      .html-content {
        position: relative;
        &:before {
          content: "<html>";
          position: absolute;
          top: -110px;
          left: -60px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .body-content {
        position: relative;
        &:before {
          content: "<body>";
          position: absolute;
          top: -80px;
          left: -40px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      h1 {
        font-size: 80px;
        font-family: font-file-82132;
        color: white;
        position: relative;
        &:after {
          content: "</h1>";
          position: absolute;
          bottom: -20px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
        &:before {
          content: "<h1>";
          position: absolute;
          top: -20px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      button {
        color: #08fdd8;
        font-size: 14px;
        letter-spacing: 4px;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        height: 50px;
        text-align: center;
        box-shadow: none !important;
        background-color: transparent;
        padding: 10px 50px;
        margin-top: 80px;
        position: relative;
        p {
          transition: all 0.2s linear;
        }
        &:hover {
          p {
            color: #fff;
          }

          .button-position {
            width: 100% !important;
            background-color: rgba(8, 253, 216, 1) !important;
            opacity: 0.5 !important;
          }
        }
        .button-position {
          position: absolute !important;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 50px;
          width: 0 !important;
          transition: all 0.2s linear;
          border-radius: 0.25rem;
          //border: 1px solid transparent;
        }
        &:after {
          content: "</button>";
          position: absolute;
          bottom: -40px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
        &:before {
          content: "<button>";
          position: absolute;
          top: -40px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .html-content-b {
        position: relative;
        &:after {
          content: "</html>";
          position: absolute;
          top: 100px;
          left: -60px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .body-content-b {
        position: relative;
        &:after {
          content: "</body>";
          position: absolute;
          top: 70px;
          left: -40px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }

      @mixin sp-layout {
        @media screen and (max-width: 750px) {
          @content;
        }
      }

      @function random_range($min, $max) {
        $rand: random();
        $random_range: $min + floor($rand * (($max - $min) + 1));
        @return $random_range;
      }

      .stars {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% + 500px);
        height: 120%;
        transform: rotate(-45deg);
      }

      .star {
        color: #4ecde9 !important;
        $star-count: 50;
        --star-color: var(--primary-color);
        --star-tail-length: 6em;
        --star-tail-height: 2px;
        --star-width: calc(var(--star-tail-length) / 6);
        --fall-duration: 9s;
        --tail-fade-duration: var(--fall-duration);

        position: absolute;
        top: var(--top-offset);
        left: 0;
        width: var(--star-tail-length);
        height: var(--star-tail-height);
        color: var(--star-color);
        background: linear-gradient(45deg, currentColor, transparent);
        border-radius: 50%;
        filter: drop-shadow(0 0 6px currentColor);
        transform: translate3d(104em, 0, 0);
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
          tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out
            infinite;

        @include sp-layout {
          // For mobile performance, tail-fade animation will be removed QAQ
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
        }

        @for $i from 1 through $star-count {
          &:nth-child(#{$i}) {
            --star-tail-length: #{random_range(500em, 750em) / 100};
            --top-offset: #{random_range(0vh, 10000vh) / 100};
            --fall-duration: #{random_range(6000, 12000s) / 1000};
            --fall-delay: #{random_range(0, 10000s) / 1000};
          }
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: calc(var(--star-width) / -2);
          width: var(--star-width);
          height: 100%;
          background: linear-gradient(45deg, transparent, #4ecde9, transparent);
          border-radius: inherit;
          animation: blink 2s linear infinite;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .about {
      position: absolute;
      .html-content {
        position: relative;
        &:before {
          content: "<html>";
          position: absolute;
          top: -110px;
          left: -60px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .body-content {
        position: relative;
        &:before {
          content: "<body>";
          position: absolute;
          top: -80px;
          left: -40px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      h1 {
        font-size: 80px;
        font-family: font-file-82132;
        color: #08fdd8;
        position: relative;
        &:after {
          content: "</h1>";
          position: absolute;
          bottom: -20px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
        &:before {
          content: "<h1>";
          position: absolute;
          top: -20px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .text {
        width: 600px;
        margin-top: 80px;
        position: relative;
        &:after {
          content: "</p>";
          position: absolute;
          bottom: -40px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
        &:before {
          content: "<p>";
          position: absolute;
          top: -40px;
          left: -20px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
        p {
          color: white;
          font-size: 18px;
        }
      }
      .html-content-b {
        position: relative;
        &:after {
          content: "</html>";
          position: absolute;
          top: 100px;
          left: -60px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
      .body-content-b {
        position: relative;
        &:after {
          content: "</body>";
          position: absolute;
          top: 70px;
          left: -40px;
          font-size: 15px;
          font-family: "La Belle Aurore", cursive;
          color: #515152;
        }
      }
    }
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
